@import "../libraries/bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #B0BEC5;
	display: table;
	font-weight: 100;
	font-family: 'Lato';
	box-sizing:border-box;
}


.title {
	font-size: 96px;
	margin-bottom: 40px;
}

.quote {
	font-size: 24px;
}

.login-container{
	width: 65%;
	margin: 0px auto;
}

#btn-login{
	background: cornflowerblue;
	color: white;
}

#page-content, .content{
	height: 100%;
}

.project-list{
	border: 1px solid #BEDAFF;
}
.project-item{
	padding: 2px 5px;
	box-sizing: border-box;
	cursor: pointer;
}
.project-item.selected{
  background: #0078ff;
  color: #FFF;
}
.task-item{
  padding:5px 10px;
  border-top: 1px dotted #aaa;
}
